/* body {
    font-family: Arial, sans-serif;
    background-color: #b4adada8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color:lightpink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(31, 1, 1, 0.904);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: whitesmoke;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #1d7cbb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  li.completed {
    text-decoration: line-through;
    background-color: #d9ffd9;
  }
  
  #btn:hover{
    background-color: #2c82c9;
  } */


  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
  }
  
  body 
  {
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .title{
      font-size: 30px;
      font-weight: 600;
      color: rgb(8,6,133);
      letter-spacing: 1px;
      margin: 30px 0;
  }
  .todo-list{
      width: 450px;
      padding: 20px;
      box-shadow: 0 10px 40px rgba(0,0,0,0.1);
      border-radius: 5px;
      background-color: #fff;
  }
  .list-head{
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 20px;
  }
  .entered-list{
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      outline: none;
  }
  .add-list{
      border: none;
      border-radius: 5px;
      background-color: rgb(8,6,133);
      outline: none;
      font-size: 16px;
      color: #ccc;
      cursor: pointer;
      opacity: .6;
      pointer-events: none;
  }
  .add-list.active{
      opacity: 1;
      pointer-events: all;
  }
  .tasks{
      width: 100%;
      margin-top: 30px;
  }
  .item{
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .item p{
      font-size: 16px;
      font-weight: 500;
      gap: 10px;
  }
  .item.completed p{
      text-decoration: line-through;
      color: #11111180;
  }
  .item-btn{
      display: flex;
      align-items: center;
      gap: 10px;
  }
  .item-btn i{
      color: rgb(8,6,133);
      font-size: 18px;
      cursor: pointer;
  }